.nutrition-programs__header {
  color: #ffffff;
  background-color: $bg-basic-green;
  background-image: url("../images/hero-bg-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 320px;
  text-align: center;
}

.nutrition-programs__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
}

.nutrition-programs__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.nutrition-programs__img {
  display: block;
}
